---
import NavigationBar from "../components/NavigationBar.astro";
import MainPage from "../layouts/MainPage.astro";
import RecentPost from "../components/RecentPost.astro";
---

<MainPage title="jschall">
  <nav><NavigationBar /></nav>
  <div class="container">
    <pre>
 _       __     __
| |     / /__  / /________  ____ ___  ___
| | /| / / _ \/ / ___/ __ \/ __ `__ \/ _ \
| |/ |/ /  __/ / /__/ /_/ / / / / / /  __/
|__/|__/\___/_/\___/\____/_/ /_/ /_/\___/
    </pre>
    <header id="header">
      <span> 👋 Hi, my name is Jan and this is my personal site. </span>
    </header>
    <br />
    <details>
      <summary>Gear I'm using</summary>
      <p>
        <strong>Laptop:</strong><br />
        Asus ROG Zephyrus M16 (Windows, Linux Mint)<br />
        <strong>Smartphone</strong>
        <br />
        Google Pixel 7 <br />
        <strong>Headphones</strong>
        <br />
        Samsung Buds 2 <br />
        <strong>Server</strong>
        <br />
        HP ProDesk 600 G3 (Proxmox VE) <br />
        Raspberry Pie 5 8gb RAM (DietPie)
      </p>
    </details>
    <main>
      <div id="header-posts">
        <img src="/img/feed_icon.svg" />
        <h2>Recent Posts & News</h2>
      </div>
      <RecentPost />
    </main>
  </div>
</MainPage>

<style>
  nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  #header-posts {
    display: flex;
  }

  #header-posts h2 {
    margin-left: 3px;
  }

  details strong {
    color: #bb86fc;
  }

  .recent-posts {
    color: #03dac6;
    text-decoration: underline;
  }

  p {
    text-align: justify;
  }

  .container {
    flex-direction: column;
    padding-top: 50px;
    margin: 0;
    height: 100%;
  }

  .spacer {
    padding: 15px;
  }
</style>
