---
import NavigationBar from "../components/NavigationBar.astro";
import MainPage from "../layouts/MainPage.astro";
import RecentPost from "../components/RecentPost.astro";
---

<MainPage title="jschall">
  <nav><NavigationBar /></nav>
  <div class="container">
    <pre>
 _       __     __
| |     / /__  / /________  ____ ___  ___
| | /| / / _ \/ / ___/ __ \/ __ `__ \/ _ \
| |/ |/ /  __/ / /__/ /_/ / / / / / /  __/
|__/|__/\___/_/\___/\____/_/ /_/ /_/\___/
    </pre>
    <header id="header">
      <span> 👋 Hi, my name is Jan and this is my personal site.</span>
    </header>
    <br />
    <main>
      <div id="header-posts">
        <img src="/img/feed_icon.svg" />
        <h2>Recent Posts & News</h2>
      </div>
      <RecentPost />
    </main>
  </div>
</MainPage> 

<style>
  nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  #header-posts {
    display: flex;
  }

  #header-posts h2 {
    margin-left: 3px;
  }

  details strong {
    color: #E45420;
  }

  .recent-posts {
    color: #03dac6;
    text-decoration: underline;
  }

  p {
    text-align: justify;
  }

  .container {
    flex-direction: column;
    padding-top: 50px;
    margin: 0;
    height: 100%;
  }

  .spacer {
    padding: 15px;
  }
</style>
