---
import NavigationBar from "../components/NavigationBar.astro";
import MainPage from "../layouts/MainPage.astro";
---

<MainPage title="Legal Notice">
  <nav><NavigationBar /></nav>
  <span> </span>
  <div class="container">
    <p>
      ...and here you find important information in order to run this website. If this bores you, please skip this site ._.
    </p>
    <p>
      <h3>Address</h3>
      Jens Schall<br />
      Ricarda-Huch-Straße 29<br />
      52353 Düren <br />
      Germany
      <h3>Contact</h3>
      contact@jschall.net
    </p>
  </div>
</MainPage>

<style>
  nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .container {
    flex-direction: column;
    padding-top: 50px;
    margin: 0;
    height: 100%;
  }
</style>
