<footer>
  <span>
    <a href="/legal_notice">Legal Notice</a>
    •
    <a href="/all_feeds">RSS</a>
  </span>
</footer>

<style>
  footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: smaller;
  }
  
  a {
    color: #E45420;
    text-decoration: none;
  }
</style>
