---
import { type CollectionEntry } from "astro:content";
import NavigationBar from "../components/NavigationBar.astro";
import MainPage from "./MainPage.astro";
import FormattedDate from "../components/FormattedDate.astro";
type Props = CollectionEntry<"comments">["data"];
const { id, pubDate } = Astro.props;
---

<MainPage title="Comments">
  <nav><NavigationBar /></nav>
  <div class="container">
    <h2>#{id}</h2>
    <slot />
    <span><FormattedDate pubDate={pubDate} /></span>
  </div>
</MainPage>

<style>
  nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  span {
    font-size: smaller;
    float: right;
  }

  .container {
    flex-direction: column;
    padding-top: 50px;
    margin: 0;
    height: 100%;
  }
</style>
