---
import PrivacyPolicies from "../components/PrivacyPolicies.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="webmention" href="https://webmention.io/jschall.net/webmention" />
    <link rel="pingback" href="https://webmention.io/jschall.net/xmlrpc" />
    <title>{title}</title>
  </head>
  <body>
    <div>
      <slot />
    </div>
    <footer>
      <span>
        <a href="/legal_notice">Legal Notice</a>
        •
        <a href="/posts/feed.xml">RSS</a>
      </span>
    </footer>
  </body>
</html>
<style is:global>
  @font-face {
    font-family: JetBrainsMono;
    src: url("/font/JetBrainsMono-VariableFont_wght.ttf");
  }

  footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: smaller;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: #FFFFFF;
    font-family: JetBrainsMono;
  }

  html {
    background: #121212;
  }

  div {
    max-width: 650px;
  }

  a {
    color: #bb86fc;
    text-decoration: none;
  }

  @media screen and (max-width: 716px) {
    body {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
</style>
